<html>
    <head>
        <title>Documents Manager</title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

        <link rel="stylesheet" href="main.css"/>
        <!-- socket.io script -->
        <script src="/ri3d26/socket.io/socket.io.js"></script>
    </head>
    <body class="designed-background">
        <div class="center-module">
            <div class="container across-screen">
                <div class="flex-apart" style="margin-bottom: 20px;">
                    <div>
                        <h2>Document Manager</h3>
                        <span>Manages the Published Documents</span>
                    </div>
                    
                    <div class="status-indicator" name="ri3d-socket-connected"></div>

                    <button onclick="addDocument()" class="bg-secondary small-button material-symbols-outlined">add</button>


                </div>
                <hr/>
                <div class="flex-apart comfort-margin-top-bottom" style="margin-top: 20px;margin-bottom: 20px;">
                    <h3>File Upload Location</h3>
                    <button class="bg-secondary">Go to Google Drive</button>
                </div>
                <hr/>
                <div class="flex-apart" style="margin-top: 20px;">
                    <span class="tiny-label" style="flex:1">Document Name</span>
                    <span class="tiny-label" style="flex:1">Document Type</span>
                    <span class="tiny-label" style="flex:1">Actions</span>
                </div>
                <div class="sub-scroll" name="documents">
                    
                </div>

                <div name="document-management">
                    <hr style="margin-top: 20px;"/>
                    <div style="margin-top: 20px;">
                        <div class="flex-center">
                            <h3>Manage Document Details</h3>
                        </div>
                        <div class="flex-center">
                            <span name="document-management-selected">Document #id</span>
                        </div>
                        <br/>

                        <div class="flex-apart comfort-margin-top-bottom">
                            <h3>Document Name</h3>
                            <input onchange="changeDocumentDetailsOfSelected(event)" type="text" name="name" placeholder="Drivetrain Design File" style="width: 300px;" value=""/>
                        </div>
                        <div class="flex-apart comfort-margin-top-bottom">
                            <h3>Document Type</h3>
                            <div class="multi-buttons">
                                <button onclick="selectMultiButton(event)" name="documentType" value="file" class="multi-button bg-secondary">Raw File</button>
                                <button onclick="selectMultiButton(event)" name="documentType" value="url" class="multi-button bg-secondary">URL</button>
                                <button onclick="selectMultiButton(event)" name="documentType" value="code" class="multi-button bg-secondary">Code</button>
                                <button onclick="selectMultiButton(event)" name="documentType" value="cad" class="multi-button bg-secondary">Design (CAD) File</button>
                                <button onclick="selectMultiButton(event)" name="documentType" value="clip" class="multi-button bg-secondary">Video Clip</button>
                            </div>
                        </div>
                        <div class="flex-apart comfort-margin-top-bottom">
                            <h3>Document Visibility</h3>
                            <div class="multi-buttons">
                                <button onclick="selectMultiButton(event)" name="documentVisibility" value="hidden" class="multi-button bg-secondary">Hidden</button>
                                <button onclick="selectMultiButton(event)" name="documentVisibility" value="invisible" class="multi-button bg-secondary">Access Via URL Only</button>
                                <button onclick="selectMultiButton(event)" name="documentVisibility" value="visible" class="multi-button bg-secondary">Visible</button>
                            </div>
                        </div>
                        <div class="flex-apart comfort-margin-top-bottom">
                            <h3>Document Source</h3>
                            <input onchange="changeDocumentDetailsOfSelected(event)" type="text" name="source" placeholder="https://ccr.students.mtu.edu" style="width: 300px;" value=""/>
                        </div>
                        <div class="flex-apart comfort-margin-top-bottom">
                            <h3>Document Notes</h3>
                            <textarea onchange="changeDocumentDetailsOfSelected(event)" name="notes" placeholder="This document has notes" style="width: 300px;" value=""></textarea>
                        </div>
                        <div class="flex-apart comfort-margin-top-bottom">
                            <h3>Document Priority</h3>
                            <i>(0 is lowest)</i>
                            <input onchange="changeDocumentDetailsOfSelected(event)" min="0" type="number" name="priority" placeholder="0" style="width: 100px;" value=""/>
                        </div>
                        


                    </div>
                </div>
                

                
            </div>
        </div>
    </body>
    <script>

        const socket = io(window.location.host, {
            path: "/ri3d26/socket.io"
        });

        let documentManagement = {
            selectedId: null
        }
        let documents = [];
        let documentHtml = `
        <div style="flex:1">
            <h4 name="name">INSERT_NAME</h4>
        </div>
        <div style="flex:1;justify-content:start" class="flex-center">
            <span class="tiny-label text-label bg-secondary" style="margin:0px;display:inline-block" name="type">INSERT_TYPE</span>
            <span name="hidden" class="tiny-label" style="margin:0px;display:inline-block;">(hidden)</span>
        </div>
        <div style="flex:1">
            <div class="flex-center" style="gap:5px;justify-content: start;">
                <button class="bg-secondary small-button material-symbols-outlined show-preview" onclick="chooseDocumentForManagement('INSERT_ID')">table_eye</button>
                <button class="bg-secondary small-button material-symbols-outlined" name="open" onclick="openDocumentSource('INSERT_ID')">open_in_new</button>
                <button class="bg-error small-button material-symbols-outlined" onclick="deleteDocument('INSERT_ID')">delete</button>
            </div>
        </div>
        `;

        let dataMapping = {
            "documentType": () => {
                let docId = documentManagement.selectedId;
                if(docId == null){
                    return;
                }
                let documentIndex = documents.findIndex((doc) => doc.id == docId);
                if(documentIndex == -1){
                    return;
                }
                let selectedType = selectedOptions["documentType"]["selected"];
                documents[documentIndex]["type"] = selectedType;

                updateDocumentInList(docId);
            },
            "documentVisibility": () => {
                let docId = documentManagement.selectedId;
                if(docId == null){
                    return;
                }
                let documentIndex = documents.findIndex((doc) => doc.id == docId);
                if(documentIndex == -1){
                    return;
                }
                let selectedVisibility = selectedOptions["documentVisibility"]["selected"];
                documents[documentIndex]["visibility"] = selectedVisibility;

                updateDocumentInList(docId);
            }
        }

        let isRequest = ["reqStage", "streamSound"];

        let selectedOptions = {
            "documentType": {
                before: null,
                selected: null,
                priority: "selected"
            },
            "documentVisibility": {
                before: null,
                selected: null,
                priority: "selected"
            }
        }

        function updateRequestedView(toRequested){
            let reqViewElement = document.getElementsByName("view_requested")[0];
            let currViewElement = document.getElementsByName("view_current")[0];

            // if no current requested, then just set to N/A

            if(toRequested == null || !toRequested){
                toRequested = "N/A";
            }

            let current = selectedOptions["curStage"];
            if(current == null || !current){
                current = "N/A";
            }

            reqViewElement.innerText = toRequested;
            currViewElement.innerText = current;
        }

        function multiButtonSelect(name, value, target="selected"){
            // selected is bg-primary
            // before is bg-success
            // others are bg-secondary

            // if isReqest, then add request-anim class
            let buttons = document.getElementsByName(name);
            let addRequestClass = isRequest.includes(name) ? "request-anim" : "";
            selectedOptions[name][target] = value;
            let selectedOptionBefore = selectedOptions[name]["before"];
            let selectedOptionSelected = selectedOptions[name]["selected"];
            let selectedOptionPriority = selectedOptions[name]["priority"];
            buttons.forEach((btn) => {
                let val = btn.getAttribute("value");

                if(selectedOptionPriority == "before"){
                    if(val === selectedOptionBefore){
                        btn.classList = "multi-button bg-success ";
                    } else if(val === selectedOptionSelected){
                        btn.classList = "multi-button bg-primary " + addRequestClass;
                    } else {
                        btn.classList = "multi-button bg-secondary";
                    }
                }else{
                    // selected is default
                    if(val === selectedOptionSelected){
                        btn.classList = "multi-button bg-primary " + addRequestClass;
                    } else if(val === selectedOptionBefore){
                        btn.classList = "multi-button bg-success";
                    } else {
                        btn.classList = "multi-button bg-secondary";
                    }
                }
            });

            if(target == "before"){
                setupSceneOptions("before");
            }
        }

        function selectMultiButton(ev){
            let button = ev.currentTarget;
            let name = button.getAttribute("name");
            let value = button.getAttribute("value");

            multiButtonSelect(name, value, "selected");

            let dataFunc = dataMapping[name];
            if(dataFunc){
                dataFunc();
            }
        }

        function changeAvailableCamerasList(){
            let inputElement = document.getElementsByName("availableCams")[0];
            let cameras = inputElement.value.split(",").map(cam => cam.trim());
            selectedOptions["availableCams"] = cameras;
            dataMapping["availableCams"]();
            updateCameraPreviews();
        }

        function updateCameraPreviews(){
            let cameras = selectedOptions["availableCams"];
            let previewContainer = document.getElementsByName("cameraPreviews")[0];
            previewContainer.innerHTML = "";

            let cameraTemplate =
            `
            <div class="camera" value="{CAMERA_NAME}">
                <img name="preview" onerror="this.src = 'previews/nocamera.png';" src="previews/nocamera.png"/>
                <div class="flex-center">
                    <span>{CAMERA_NAME}</span>
                </div>
                
            </div>
            `

            cameras.forEach((camName) => {
                let camDivHTML = cameraTemplate.replaceAll(/{CAMERA_NAME}/g, camName);
                previewContainer.innerHTML += camDivHTML;
            });
        }

        function playCameraTransition(){
            let transitionNum = selectedOptions["transitionNum"];
            transitionNum = parseInt(transitionNum);
            transitionNum += 1;
            selectedOptions["transitionNum"] = transitionNum;
            dataMapping["transitionNum"]();
        }

        function changeStatusIndicator(indicatorElementName, isConnected) {
            let indicatorElement = document.getElementsByName(indicatorElementName)[0];
            if (isConnected) {
                indicatorElement.style.backgroundColor = "var(--success-color)";
            } else {
                indicatorElement.style.backgroundColor = "var(--error-color)";
            }
        }

        function generateUUID() {
            // generate in the form of xxxxxxxx
            return 'xxxxxxxx'.replace(/[xy]/g, function(c) {
                var r = Math.random() * 16 | 0, v = c == 'x' ? r : (r & 0x3 | 0x8);
                return v.toString(16);
            });
        }

        function addVisualDocument(id, name, type){
            let documentsContainer = document.getElementsByName("documents")[0];
            let documentDiv = document.createElement("div");
            documentDiv.classList = "flex-apart document";
            documentDiv.setAttribute("name", "document");
            documentDiv.setAttribute("value", id);
            documentDiv.style.marginBottom = "5px";
            let docHtmlToInsert = documentHtml.replaceAll("INSERT_ID", id);
            docHtmlToInsert = docHtmlToInsert.replaceAll("INSERT_NAME", name);
            docHtmlToInsert = docHtmlToInsert.replaceAll("INSERT_TYPE", type);
            documentDiv.innerHTML = docHtmlToInsert;
            documentsContainer.appendChild(documentDiv);

            updateDocumentInList(id);
        }

        function addDocument(){
            let documentId = generateUUID();
            documents.push({
                id: documentId,
                name: "New Document " + (documents.length + 1),
                type: "file",
                source: "",
                visibility: "hidden",
                notes: "",
                priority: 0
            });
            addVisualDocument(documentId, "New Document " + (documents.length + 1), "file");
        }

        function deleteDocument(id){
            // remove from documents array
            documents = documents.filter((doc) => doc.id != id);

            // remove from visual
            let documentsContainer = document.getElementsByName("documents")[0];
            let documentDivs = documentsContainer.getElementsByClassName("camera");
            for(let i = 0; i < documentDivs.length; i++){
                let docDiv = documentDivs[i];
                let docId = docDiv.getAttribute("value");
                if(docId == id){
                    documentsContainer.removeChild(docDiv);
                    break;
                }
            }
        }

        function openDocumentSource(id){
            let documentIndex = documents.findIndex((doc) => doc.id == id);
            if(documentIndex == -1){
                return;
            }
            let doc = documents[documentIndex];
            if(doc.source != null && doc.source != ""){
                window.open(doc.source, "_blank");
            }
        }

        function changeDocumentDetailsOfSelected(e){
            let inputElement = e.currentTarget;
            let docId = documentManagement.selectedId;
            let docProp = inputElement.getAttribute("name");
            if(!["name", "source", "notes", "priority"].includes(docProp)){
                return;
            }

            let documentIndex = documents.findIndex((doc) => doc.id == docId);
            if(documentIndex == -1){
                return;
            }
            documents[documentIndex][docProp] = inputElement.value;

            updateDocumentInList(docId);
        }

        function updateDocumentInList(id){
            let documentIndex = documents.findIndex((doc) => doc.id == id);
            if(documentIndex == -1){
                return;
            }
            let doc = documents[documentIndex];

            // find the div and update the name
            let documentsParent = document.querySelector("div[name='documents']");
            let documentDivs = documentsParent.querySelectorAll("div[name='document']");
            let targetDocDiv = null;
            documentDivs.forEach((docDiv) => {
                if(docDiv.getAttribute("value") == id){
                    targetDocDiv = docDiv;
                }
            });

            if(targetDocDiv != null){
                let nameSpan = targetDocDiv.querySelector("h4[name='name']");
                nameSpan.innerText = doc.name;

                let typeSpan = targetDocDiv.querySelector("span[name='type']");
                typeSpan.innerText = doc.type;

                let hiddenSpan = targetDocDiv.querySelector("span[name='hidden']");
                hiddenSpan.innerText = doc.visibility == "hidden" ? "(hidden)" : "";

                let openInNew = targetDocDiv.querySelector("button[name='open']");
                // if there is a source, then enable the button
                if(doc.source != null && doc.source != ""){
                    openInNew.disabled = false;
                }else{
                    openInNew.disabled = true;
                }
            }
        }

        function chooseDocumentForManagement(id){
            // if the id is null, then clear the inputs and hide the div
            let documentsParent = document.querySelector("div[name='documents']");
            let documentDivs = documentsParent.querySelectorAll("div[name='document']");
            // remove the primary highlight from all
            documentDivs.forEach((docDiv) => {
                docDiv.classList.remove("bg-primary");
            });

            let managementDiv = document.getElementsByName("document-management")[0];
            if(id == null){
                managementDiv.style.display = "none";
                documentManagement.selectedId = null;
                return;
            }

            let documentIndex = documents.findIndex((doc) => doc.id == id);
            let doc = documents[documentIndex];
            documentManagement.selectedId = id;

            managementDiv.style.display = "";


            let selectedSpan = document.getElementsByName("document-management-selected")[0];
            selectedSpan.innerText = "Document #" + doc.id;

            let nameInput = managementDiv.querySelector("input[name='name']");
            nameInput.value = doc.name;
            let sourceInput = managementDiv.querySelector("input[name='source']");
            sourceInput.value = doc.source;
            let notesInput = managementDiv.querySelector("textarea[name='notes']");
            notesInput.value = doc.notes;
            let priorityInput = managementDiv.querySelector("input[name='priority']");
            priorityInput.value = doc.priority;

            // set multi buttons
            multiButtonSelect("documentType", doc.type, "selected");
            multiButtonSelect("documentVisibility", doc.visibility, "selected");



            let selectedDocDiv = documentDivs.entries().find(([index, docDiv]) => {
                return docDiv.getAttribute("value") == id;
            })[1];
            selectedDocDiv.classList.add("bg-primary");
        }

        chooseDocumentForManagement(null);

        socket.on('connect', () => {
            changeStatusIndicator("ri3d-socket-connected", true);
        });

        socket.on('disconnect', () => {
            changeStatusIndicator("ri3d-socket-connected", false);
        });

        function reactToDataChange(group, key, value){
            if(group == "overlay"){
                if(key == "currentStage"){
                    // parse the information to get what's currently selected
                    let buttonToTarget = "";
                    if(value.includes("panel-enlarged")){
                        buttonToTarget = "panel-enlarged";
                    } else if(value.includes("panel-open")){
                        buttonToTarget = "panel-open";
                    } else if(value.includes("panel-closed")){
                        buttonToTarget = "panel-closed";
                    }

                    

                    selectedOptions["curStage"] = value;
                    updateRequestedView(value);

                    if(buttonToTarget != ""){
                        let buttons = document.getElementsByName("reqStage");
                        buttons.forEach((btn) => {
                            let val = btn.getAttribute("value");
                            if(val === buttonToTarget){
                                btn.classList = "multi-button bg-success";
                            }
                        });
                    }

                    let sound = "obs";
                    // if contains muted, then also set sound to muted
                    if(value.includes("muted")){
                        sound = "muted";
                    }

                    selectedOptions["streamSound"] = sound;

                    let buttons = document.getElementsByName("streamSound");
                    buttons.forEach((btn) => {
                        let val = btn.getAttribute("value");
                        if(val === sound){
                            btn.classList = "multi-button bg-success";
                        }
                    });
                }
            }else if(group == "camera"){
                if(key == "playTransition"){
                    // update so we have it for later
                    selectedOptions["transitionNum"] = value;
                }else if(key == "available"){
                    selectedOptions["availableCams"] = value;
                    let inputElement = document.getElementsByName("availableCams")[0];
                    inputElement.value = value.join(", ");
                    updateCameraPreviews();
                }else if(key == "preview"){
                    selectedOptions["showCamPreviews"] = value;

                    let buttons = document.getElementsByName("showCamPreviews");
                    buttons.forEach((btn) => {
                        let val = btn.getAttribute("value");
                        if(val === value){
                            btn.classList = "multi-button bg-primary";
                        }
                    });
                }
            }
        }
        

        socket.on("dataUpdated", (group, key, value) => {
            reactToDataChange(group, key, value);
        });

        socket.on("entireConfig", (config) => {

            // set initial states
            let currentStage = config.overlay.currentStage;
            reactToDataChange("overlay", "currentStage", currentStage);

            let transitionNum = config.camera.playTransition;
            selectedOptions["transitionNum"] = transitionNum;

            let preview = config.camera.preview;
            reactToDataChange("camera", "preview", preview);

            let availableCams = config.camera.available;
            selectedOptions["availableCams"] = availableCams;
            reactToDataChange("camera", "available", availableCams);
        });

        setInterval(() => {
            let previewImage = document.getElementsByName("preview")[0];
            let showCamPreviews = selectedOptions["showCamPreviews"];
            if(showCamPreviews == "images"){
                // go through each div named camera and update the image
                let cameraDivs = document.getElementsByClassName("camera");
                for(let i = 0; i < cameraDivs.length; i++){
                    let camDiv = cameraDivs[i];
                    let camName = camDiv.getAttribute("value");
                    let imgElement = camDiv.getElementsByTagName("img")[0];
                    imgElement.src = "previews/" + camName + ".jpg?t=" + new Date().getTime();
                }
            }
        }, 4000);
    </script>
</html>

