<html>
    <head>
        <title>Setup Stream</title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

        <link rel="stylesheet" href="main.css"/>
        <!-- socket.io script -->
        <script src="/ri3d26/socket.io/socket.io.js"></script>
    </head>
    <body class="designed-background">
        <div class="quick-options">
            <button class="material-symbols-outlined" onclick="window.location.href = '/ri3d26/home'">home</button>
            <button class="material-symbols-outlined selected" onclick="window.location.href = '/ri3d26/scenes'">camera_video</button>
            <button class="material-symbols-outlined" onclick="window.location.href = '/ri3d26/manager'">wall_art</button>
            <button class="material-symbols-outlined" onclick="window.location.href = '/ri3d26/documents'">files</button>
            <button class="material-symbols-outlined" onclick="window.location.href = '/ri3d26/schedule'">avg_time</button>
            <button class="material-symbols-outlined" onclick="window.location.href = '/ri3d26/livestream'">preview</button>
        </div>
        <div class="center-module">
            <div class="container two-column">
                <div class="flex-apart" style="margin-bottom: 20px;">
                    <div>
                        <h2>OBS Stream Manager</h2>
                        <span>Manages the Current Views LIVE</span>
                    </div>
                    <div class="status-indicator" name="ri3d-socket-connected"></div>

                </div>
                <hr/>
                <div style="margin-top: 20px;margin-bottom: 20px;">
                    <div class="flex-center">
                        <h3>Scene Selector</h3>
                    </div>
                    <div class="flex-center comfort-margin-top-bottom">
                        <div class="multi-buttons">
                            <button onclick="selectMultiButton(event)" name="curScene" value="passive" class="multi-button bg-secondary">Passive View</button>
                            <button onclick="selectMultiButton(event)" name="curScene" value="active" class="multi-button bg-secondary">Active View</button>
                            <button onclick="selectMultiButton(event)" name="curScene" value="brb" class="multi-button bg-secondary">Be Right Back</button>
                            <button onclick="selectMultiButton(event)" name="curScene" value="two-camera" class="multi-button bg-secondary">Dual View</button>
                            <button onclick="selectMultiButton(event)" name="curScene" value="starting-soon" class="multi-button bg-secondary">Starting Soon</button>
                        </div>
                    </div>
                    
                </div>
                <hr/>
                <div style="margin-top: 20px;" class="container" name="scene-options-active">
                    
                </div>
                <div style="margin-top: 20px;" class="container" name="scene-options-queued">
                    
                </div>
                <hr style="margin-top: 20px;margin-bottom: 20px;"/>
                <div class="flex-apart">
                    <div></div>
                    <div class="flex-center">
                        <button class="bg-secondary">Clear Queued Transition</button>
                        <button class="bg-primary" onclick="submitSceneRequest()">Submit Transition</button>

                    </div>
                </div>
                
            </div>
            <div class="container two-column">
                <div class="flex-apart" style="margin-bottom: 20px;">
                    <div>
                        <h2>Camera Manager</h3>
                        <span>Manages All Available Cameras</span>
                    </div>
                    <button onclick="addCamera()" class="bg-secondary small-button material-symbols-outlined">add</button>

                </div>
                <hr style="margin-bottom: 20px;"/>
                <div class="flex-apart">
                    <span class="tiny-label" style="flex:1">Camera Name</span>
                    <span class="tiny-label" style="flex:1">Camera URL</span>
                    <span class="tiny-label" style="flex:1">Actions</span>


                </div>
                <div class="sub-scroll" name="cameras">
                    
                </div>

                <div name="camera-management">
                    <hr style="margin-top: 20px;"/>
                    <div style="margin-top: 20px;">
                        <div class="flex-center">
                            <h3>Manage & Preview Camera</h3>
                        </div>
                        <div class="flex-center">
                            <span name="camera-management-selected">Name (#id)</span>
                        </div>
                        <br/>

                        <div class="flex-apart" style="margin-bottom: 10px;">
                            <h3>Enable Live Preview</h3>
                            <div class="multi-buttons">
                                <button onclick="selectMultiButton(event)" name="livePreview" value="off" class="multi-button bg-secondary">Off</button>
                                <button onclick="selectMultiButton(event)" name="livePreview" value="view" class="multi-button bg-secondary">Mini-Preview</button>
                                <button onclick="selectMultiButton(event)" name="livePreview" value="obs" class="multi-button bg-secondary">Preview on OBS</button>
                            </div>
                        </div>

                        <div class="flex-apart comfort-margin-top-bottom">
                            <div style="flex:1">
                                <span class="tiny-label">X-Coord</span>
                                <input onchange="changeCameraDetailsOfSelected(event)" style="width: 80px" type="number" name="x" placeholder="0" /> 
                            </div>
                            <div style="flex:1">
                                <span class="tiny-label">Y-Coord</span>
                                <input onchange="changeCameraDetailsOfSelected(event)" style="width: 80px" type="number" name="y" placeholder="0" /> 
                            </div>
                            <div style="flex:1">
                                <span class="tiny-label">Scale X</span>
                                <input onchange="changeCameraDetailsOfSelected(event)" max="3" style="width: 80px" type="number" name="width" placeholder="0" /> 
                            </div>
                            <div style="flex:1">
                                <span class="tiny-label">Scale Y</span>
                                <input onchange="changeCameraDetailsOfSelected(event)" max="3" style="width: 80px" type="number" name="height" placeholder="0" /> 
                            </div>
                        </div>

                        <div class="flex-apart comfort-margin-top-bottom">
                            <h3>Source Type</h3>
                            <div class="multi-buttons">
                                <button onclick="selectMultiButton(event)" name="cameraSourceType" value="file" class="multi-button bg-secondary">Local File</button>
                                <button onclick="selectMultiButton(event)" name="cameraSourceType" value="media" class="multi-button bg-secondary">Stream URL</button>
                                <button onclick="selectMultiButton(event)" name="cameraSourceType" value="web" class="multi-button bg-secondary">Website</button>
                            </div>
                        </div>


                    </div>
                </div>
                
                
                
                

                
            </div>
        </div>
    </body>
    <script>

        const socket = io(window.location.host, {
            path: "/ri3d26/socket.io"
        });

        let cameras = [];
        let cameraHtml = `
        <div style="flex:1">
            <input type="text" onchange="changeCameraDetails(event)" data-id="INSERT_ID" name="name" placeholder="Camera 1" /> 
        </div>
        <div style="flex:1">
            <input type="text" onchange="changeCameraDetails(event)" data-id="INSERT_ID" name="url" placeholder="mtu.edu" /> 
        </div>
        <div style="flex:1">
            <div class="flex-center" style="gap:5px;justify-content: start;">
                <button class="bg-secondary small-button material-symbols-outlined show-preview" onclick="chooseCameraForManagement('INSERT_ID')">table_eye</button>
                <button class="bg-secondary small-button material-symbols-outlined" onclick="openCameraPreview('INSERT_ID')">open_in_new</button>
                <button class="bg-error small-button material-symbols-outlined" onclick="deleteCamera('INSERT_ID')">delete</button>
            </div>
        </div>
        `

        let sceneNameMapping = {
            "Passive": "passive",
            "Present": "active",
            "BeRightBack": "brb",
            "TwoCamera": "two-camera",
            "StartingSoon": "starting-soon",
            // two-way
            "passive": "Passive",
            "active": "Present",
            "brb": "BeRightBack",
            "two-camera": "TwoCamera",
            "starting-soon": "StartingSoon"
        };

        // TODO: make it so that the current camera shows here...

        let dataMapping = {
            "curScene": () => {
                setupSceneOptions("selected");

            },
            "cameraSourceType": () => {
                updateAllCameraLists();

                if(cameraManagement.selectedId == null) return;

                let camIndex = cameras.findIndex(cam => cam.id === cameraManagement.selectedId);
                cameras[camIndex].type = selectedOptions["cameraSourceType"]["selected"];
                updateAllCameraLists();
            },
            "livePreview": () => {
                // a combo between the selected camera id and the livePreview option
                let livePreview = {
                    id: cameraManagement.selectedId,
                    preview: selectedOptions["livePreview"]["selected"]
                }

                socket.emit("changeData", "camera", "livePreview", livePreview);
            }
        }

        let isRequest = ["curScene", "streamSound"];

        let cameraManagement = {
            selectedId: null
        }

        let selectedOptions = {
            "curScene": {
                before: null,
                selected: null,
                priority: "before"
            },
            "livePreview": {
                before: null,
                selected: null,
                priority: "selected"
            },
            "cameraSourceType": {
                before: null,
                selected: null,
                priority: "selected"
            },
        }

        let activeSceneRequest = {};

        let activeSceneOptionsContainer = document.getElementsByName("scene-options-active")[0];
        let queuedSceneOptionsContainer = document.getElementsByName("scene-options-queued")[0];

        let sceneOptionHtml = {
            "passive": `
                <div class="active-scene-config" name="passive">
                    <div>
                        <div class="flex-center">
                            <h3>Passive Scene Manager</h3>
                        </div>
                        <div class="flex-center">
                            <span>Meant for passive environments (with little to no attention)</span>
                        </div>
                    </div>
                    <br/>
                    <div class="flex-apart">
                        <h3>Primary Camera</h3>
                        <select class="camera_list" name="passive_primaryCam">
                            <option value="Camera 1">Camera 1</option>
                            <option value="Camera 2">Camera 2</option>
                            <option value="Camera 3">Camera 3</option>
                            <option value="Camera 4">Camera 4</option>
                        </select>
                    </div>
                    <div class="flex-apart comfort-margin-top-bottom">
                        <h3>Overlay Management</h3>
                        <button onclick="window.open('/manager', '_blank')" class="bg-secondary">Open Overlay Manager</button>
                    </div>
                </div>
            `,
            "active": `
                <div class="active-scene-config" name="active">
                    <div>
                        <div class="flex-center">
                            <h3>Active Scene Manager</h3>
                        </div>
                        <div class="flex-center">
                            <span>Meant for presentations over the microphone</span>
                        </div>
                    </div>
                    <br/>
                    <div class="flex-apart">
                        <h3>Primary Camera</h3>
                        <select class="camera_list" name="passive_primaryCam">
                            <option value="Camera 1">Camera 1</option>
                            <option value="Camera 2">Camera 2</option>
                            <option value="Camera 3">Camera 3</option>
                            <option value="Camera 4">Camera 4</option>
                        </select>
                    </div>
                    <br/>
                </div>
            `,
            "brb": `
                <div class="active-scene-config" name="passive">
                    <div>
                        <div class="flex-center">
                            <h3>Be Right Back Scene Manager</h3>
                        </div>
                        <div class="flex-center">
                            <span>Leaving temporarily!</span>
                        </div>
                    </div>
                    <br/>
                    <div class="flex-apart">
                        <h3>Background Camera</h3>
                        <select class="camera_list" name="passive_primaryCam">
                            <option value="Camera 1">Camera 1</option>
                            <option value="Camera 2">Camera 2</option>
                            <option value="Camera 3">Camera 3</option>
                            <option value="Camera 4">Camera 4</option>
                        </select>
                    </div>
                    <div class="flex-apart comfort-margin-top-bottom">
                        <h3>Message</h3>
                        <input type="text" name="message" style="width: 300px;" placeholder="We'll Be Right Back"/>
                    </div>
                    <div class="flex-apart comfort-margin-top-bottom">
                        <h3>Overlay Management</h3>
                        <button onclick="window.open('/manager', '_blank')" class="bg-secondary">Open Overlay Manager</button>
                    </div>
                </div>
            `,
            "two-camera": `
                <div class="active-scene-config" name="passive">
                    <div>
                        <div class="flex-center">
                            <h3>Dual View Scene Manager</h3>
                        </div>
                        <div class="flex-center">
                            <span>Meant for more elaborate presentations!</span>
                        </div>
                    </div>
                    <br/>
                    <div class="flex-apart">
                        <h3>Large Camera</h3>
                        <select class="camera_list" name="passive_primaryCam">
                            <option value="Camera 1">Camera 1</option>
                            <option value="Camera 2">Camera 2</option>
                            <option value="Camera 3">Camera 3</option>
                            <option value="Camera 4">Camera 4</option>
                        </select>
                    </div>
                    <div class="flex-apart comfort-margin-top-bottom">
                        <h3>Small Camera</h3>
                        <select class="camera_list" name="passive_primaryCam">
                            <option value="Camera 1">Camera 1</option>
                            <option value="Camera 2">Camera 2</option>
                            <option value="Camera 3">Camera 3</option>
                            <option value="Camera 4">Camera 4</option>
                        </select>
                    </div>
                    <div class="flex-apart comfort-margin-top-bottom">
                        <h3>Overlay Management</h3>
                        <button onclick="window.open('/manager', '_blank')" class="bg-secondary">Open Overlay Manager</button>
                    </div>
                </div>
            `,
            "starting-soon": `
                <div class="active-scene-config" name="passive">
                    <div>
                        <div class="flex-center">
                            <h3>Passive Scene Manager</h3>
                        </div>
                        <div class="flex-center">
                            <span>Meant for passive environments (with little to no attention)</span>
                        </div>
                    </div>
                    <br/>
                    <div class="flex-apart">
                        <h3>Primary Camera</h3>
                        <select class="camera_list" name="passive_primaryCam">
                            <option value="Camera 1">Camera 1</option>
                            <option value="Camera 2">Camera 2</option>
                            <option value="Camera 3">Camera 3</option>
                            <option value="Camera 4">Camera 4</option>
                        </select>
                    </div>
                    <div class="flex-apart comfort-margin-top-bottom">
                        <h3>Overlay Management</h3>
                        <button onclick="window.open('/manager', '_blank')" class="bg-secondary">Open Overlay Manager</button>
                    </div>
                </div>
            `
        }

        function setupSceneOptions(target){
            // this method is ran at the end
            // we will also check the classes on both...
            let name = target == "before" ? "scene-options-active" : "scene-options-queued";
            let sceneOptionsContainer = document.getElementsByName(name)[0];
            let selectedScene = selectedOptions["curScene"][target];
            sceneOptionsContainer.innerHTML = sceneOptionHtml[selectedScene] || "";

            // if the two scene options are the SAME, then hide the queued one (live view)
            if(selectedOptions["curScene"]["before"] === selectedOptions["curScene"]["selected"] || selectedOptions["curScene"]["selected"] == null){
                queuedSceneOptionsContainer.style.display = "none";
                // and make sure the active one is not dimmed or request-anim-container
                activeSceneOptionsContainer.classList.remove("dimmed");
                activeSceneOptionsContainer.classList.remove("request-anim-container");
            }else{
                queuedSceneOptionsContainer.style.display = "";
                // then add the dimmed class to the before one
                // and the request-anim-container class to the queued one
                activeSceneOptionsContainer.classList.add("dimmed");
                queuedSceneOptionsContainer.classList.add("request-anim-container");
            }

            updateAllCameraLists();
        }

        function multiButtonSelect(name, value, target="selected"){
            // selected is bg-primary
            // before is bg-success
            // others are bg-secondary

            // if isReqest, then add request-anim class
            let buttons = document.getElementsByName(name);
            let addRequestClass = isRequest.includes(name) ? "request-anim" : "";
            selectedOptions[name][target] = value;
            let selectedOptionBefore = selectedOptions[name]["before"];
            let selectedOptionSelected = selectedOptions[name]["selected"];
            let selectedOptionPriority = selectedOptions[name]["priority"];
            buttons.forEach((btn) => {
                let val = btn.getAttribute("value");

                if(selectedOptionPriority == "before"){
                    if(val === selectedOptionBefore){
                        btn.classList = "multi-button bg-success ";
                    } else if(val === selectedOptionSelected){
                        btn.classList = "multi-button bg-primary " + addRequestClass;
                    } else {
                        btn.classList = "multi-button bg-secondary";
                    }
                }else{
                    // selected is default
                    if(val === selectedOptionSelected){
                        btn.classList = "multi-button bg-primary " + addRequestClass;
                    } else if(val === selectedOptionBefore){
                        btn.classList = "multi-button bg-success";
                    } else {
                        btn.classList = "multi-button bg-secondary";
                    }
                }
            });

            if(target == "before"){
                setupSceneOptions("before");
            }
        }

        function generateUUID() {
            // generate in the form of xxxxxxxx
            return 'xxxxxxxx'.replace(/[xy]/g, function(c) {
                var r = Math.random() * 16 | 0, v = c == 'x' ? r : (r & 0x3 | 0x8);
                return v.toString(16);
            });
        }

        function selectMultiButton(ev){
            let button = ev.currentTarget;
            let name = button.getAttribute("name");
            let value = button.getAttribute("value");

            multiButtonSelect(name, value, "selected");

            let dataFunc = dataMapping[name];
            if(dataFunc){
                dataFunc();
            }
        }

        multiButtonSelect("curScene", "passive", "before");

        function changeAvailableCamerasList(){
            let inputElement = document.getElementsByName("availableCams")[0];
            let cameras = inputElement.value.split(",").map(cam => cam.trim());
            selectedOptions["availableCams"] = cameras;
            dataMapping["availableCams"]();
            updateCameraPreviews();
        }

        function updateCameraPreviews(){
            let cameras = selectedOptions["availableCams"];
            let previewContainer = document.getElementsByName("cameraPreviews")[0];
            previewContainer.innerHTML = "";

            let cameraTemplate =
            `
            <div class="camera" value="{CAMERA_NAME}">
                <img name="preview" onerror="this.src = 'previews/nocamera.png';" src="previews/nocamera.png"/>
                <div class="flex-center">
                    <span>{CAMERA_NAME}</span>
                </div>
                
            </div>
            `

            cameras.forEach((camName) => {
                let camDivHTML = cameraTemplate.replaceAll(/{CAMERA_NAME}/g, camName);
                previewContainer.innerHTML += camDivHTML;
            });
        }

        function openCameraPreview(id){
            let camName = cameras.find(cam => cam.id === id);
            if(!camName) return;

            window.open(camName.url, '_blank');
        }

        function changeStatusIndicator(indicatorElementName, isConnected) {
            let indicatorElement = document.getElementsByName(indicatorElementName)[0];
            if (isConnected) {
                indicatorElement.style.backgroundColor = "var(--success-color)";
            } else {
                indicatorElement.style.backgroundColor = "var(--error-color)";
            }
        }

        socket.on('connect', () => {
            changeStatusIndicator("ri3d-socket-connected", true);
        });

        socket.on('disconnect', () => {
            changeStatusIndicator("ri3d-socket-connected", false);
        });

        socket.on("dataUpdated", (group, key, value) => {
            reactToDataChange(group, key, value);
        });

        socket.on("entireConfig", (config) => {
            // set initial states
            let camerasConfigured = config.camera.configured;
            // set the cameras array
            cameras = camerasConfigured;
            // remove all cameras
            let camerasContainer = document.getElementsByName("cameras")[0];
            camerasContainer.innerHTML = "";
            cameras.forEach((cam) => {
                addVisualCamera(cam.id, cam.name, cam.url);
            });
            updateAllCameraLists(true);

            let currentScene = config.obs_state.currentScene;
            reactToDataChange("obs_state", "currentScene", currentScene);

            let activeSceneRequestConfig = config.camera.activeSceneRequest || {};
            reactToDataChange("camera", "activeSceneRequest", activeSceneRequestConfig);
        });

        function reactToDataChange(group, key, value){
            if(group == "obs_state"){
                if(key == "currentScene"){
                    // just have the mapping here...
                    let mappedValue = sceneNameMapping[value] || null;
                    if(mappedValue == null) return;
                    multiButtonSelect("curScene", mappedValue, "before");
                    setupSceneOptions("before");
                }
            }
            else if(group == "camera"){
                if(key == "activeSceneRequest"){
                    activeSceneRequest = value;
                }
            }
        }

        function updateServerWithCameras(){
            socket.emit("changeData", "camera", "configured", cameras);
        }

        function chooseCameraForManagement(id){
            // if the id is null, then clear the inputs and hide the div

            // get all "cameras" divs
            let camerasParent = document.querySelector('div[name="cameras"]');
            // children are all camera divs
            let cameraDivs = camerasParent.querySelectorAll('div[name="camera"]');
            cameraDivs.forEach((camDiv) => {
                // remove the bg-primary class from all
                camDiv.classList.remove("bg-primary");
            });

            let managementDiv = document.getElementsByName("camera-management")[0];
            if(id == null){
                managementDiv.style.display = "none";
                return;
            }

            let camIndex = cameras.findIndex(cam => cam.id === id);
            let cam = cameras[camIndex];

            cameraManagement.selectedId = id;

            managementDiv.style.display = "";
            let selectedSpan = managementDiv.querySelector('span[name="camera-management-selected"]');
            selectedSpan.innerText = cam.name + " (#" + cam.id + ")";

            // now set each of the inputs... (x, y, width, height)
            let xInput = managementDiv.querySelector('input[name="x"]');
            let yInput = managementDiv.querySelector('input[name="y"]');
            let widthInput = managementDiv.querySelector('input[name="width"]');
            let heightInput = managementDiv.querySelector('input[name="height"]');
            xInput.value = cam.x;
            yInput.value = cam.y;
            widthInput.value = cam.width;
            heightInput.value = cam.height;

            // and then select the source type button
            multiButtonSelect("cameraSourceType", cam.type, "selected");

            // finally, highlight the selected camera div
            let selectedCamDiv = cameraDivs.entries().find(([index, camDiv]) => {
                return camDiv.getAttribute("value") === id;
            })[1];
            selectedCamDiv.classList.add("bg-primary");

            // call the data mapping for live preview to set it correctly
            dataMapping["livePreview"]();

        }

        chooseCameraForManagement(null)
        
        function addVisualCamera(id, name, url){
            let camerasContainer = document.getElementsByName("cameras")[0];
            let cameraDiv = document.createElement("div");
            cameraDiv.classList = "flex-apart camera";
            cameraDiv.setAttribute("name", "camera");
            cameraDiv.setAttribute("value", id);
            cameraDiv.style.marginBottom = "5px";
            let camHtmlToInsert = cameraHtml.replaceAll("INSERT_ID", id);
            cameraDiv.innerHTML = camHtmlToInsert;
            camerasContainer.appendChild(cameraDiv);

            // then set the values
            let inputElements = cameraDiv.getElementsByTagName("input");
            inputElements[0].value = name;
            inputElements[1].value = url;
            
        }

        function updateAllCameraLists(visualOnly=false){
            let cameraLists = document.getElementsByClassName("camera_list");
            for(let i = 0; i < cameraLists.length; i++){
                let camList = cameraLists[i];
                let saveValue = camList.value;

                camList.innerHTML = "";
                cameras.forEach((cam) => {
                    let optionElement = document.createElement("option");
                    optionElement.value = cam.id;
                    optionElement.innerText = cam.name;

                    // if the type is NOT known (file, media, web), then make the background primary
                    if(!["file", "media", "web"].includes(cam.type)){
                        optionElement.style.backgroundColor = "var(--primary-color)";
                    }

                    camList.appendChild(optionElement);
                });
                camList.value = saveValue;
            }

            if(visualOnly) return;
            updateServerWithCameras();
        }

        function changeCameraDetails(e){
            // get the id of the input from data-id
            // and then get the name attribute to know which one to change
            let inputElement = e.currentTarget;
            let camId = inputElement.getAttribute("data-id");
            let camProp = inputElement.getAttribute("name");
            if(!["name", "url"].includes(camProp)){
                return;
            }

            let camIndex = cameras.findIndex(cam => cam.id === camId);
            if(camIndex >= 0){
                cameras[camIndex][camProp] = inputElement.value;
            }


            updateAllCameraLists();
        }

        function deleteCamera(id){

            // first alert to confirm
            let confirmDelete = confirm("Are you sure you want to delete this camera?");
            if(!confirmDelete){
                return;
            }  
            // remove from cameras array
            let camIndex = cameras.findIndex(cam => cam.id === id);
            if(camIndex >= 0){
                cameras.splice(camIndex, 1);
            }

            // remove from visual list
            let camerasContainer = document.getElementsByName("cameras")[0];
            let cameraDivs = camerasContainer.querySelectorAll('div[name="camera"]');
            cameraDivs.forEach((camDiv) => {
                if(camDiv.getAttribute("value") === id){
                    camerasContainer.removeChild(camDiv);
                }
            });

            // if the deleted camera is the selected one for management, then clear it
            if(cameraManagement.selectedId === id){
                chooseCameraForManagement(null);
            }

            updateAllCameraLists();
        }

        function changeCameraDetailsOfSelected(e){
            // id is specified in cameraManagement.selectedId
            let inputElement = e.currentTarget;
            let camId = cameraManagement.selectedId;
            let camProp = inputElement.getAttribute("name");
            if(!["x", "y", "width", "height"].includes(camProp)){
                return;
            }

            let camIndex = cameras.findIndex(cam => cam.id === camId);
            if(camIndex >= 0){
                cameras[camIndex][camProp] = inputElement.value;
            }

            updateAllCameraLists();
        }

        function addCamera(){
            // adds a camera element
            let camerasContainer = document.getElementsByName("cameras")[0];
            let cameraId = generateUUID();
            addVisualCamera(cameraId, "Camera " + (cameras.length + 1), "");

            // then add to the camera list
            cameras.push({
                id: cameraId,
                name: "Camera " + (cameras.length + 1),
                url: "",
                x: 0,
                y: 0,
                width: 1920,
                height: 1080,
                type: "unknown"
            });

            updateAllCameraLists();
        }

        function submitSceneRequest(){
            let requestedScene = selectedOptions["curScene"]["selected"];
            let mappedScene = sceneNameMapping[requestedScene] || null;
            if(mappedScene == null) {
                selectedOptions["curScene"]["selected"] = selectedOptions["curScene"]["before"];
            };

            // we also need the camera id's from the scene options
            let sceneOptionsContainer = document.getElementsByName("scene-options-queued")[0];

            // if the selected scene is the same as the before scene, then get from active
            if(selectedOptions["curScene"]["before"] === selectedOptions["curScene"]["selected"]){
                sceneOptionsContainer = document.getElementsByName("scene-options-active")[0];
            }

            let cameraSelects = sceneOptionsContainer.getElementsByClassName("camera_list");

            let camerasSelected = [];
            for(let i = 0; i < cameraSelects.length; i++){
                let camSelect = cameraSelects[i];
                let camId = camSelect.value;
                camerasSelected.push(camId);
            }

            let sceneRequest = {
                scene: mappedScene,
                cameras: camerasSelected
            }

            socket.emit("changeData", "camera", "sceneRequest", sceneRequest);
        }

        // socket.on("dataUpdated", (group, key, value) => {
        //     reactToDataChange(group, key, value);
        // });

        // socket.on("entireConfig", (config) => {

        //     // set initial states
        //     let currentStage = config.overlay.currentStage;
        //     reactToDataChange("overlay", "currentStage", currentStage);

        //     let transitionNum = config.camera.playTransition;
        //     selectedOptions["transitionNum"] = transitionNum;

        //     let preview = config.camera.preview;
        //     reactToDataChange("camera", "preview", preview);

        //     let availableCams = config.camera.available;
        //     selectedOptions["availableCams"] = availableCams;
        //     reactToDataChange("camera", "available", availableCams);
        // });

        // setInterval(() => {
        //     let previewImage = document.getElementsByName("preview")[0];
        //     let showCamPreviews = selectedOptions["showCamPreviews"];
        //     if(showCamPreviews == "images"){
        //         // go through each div named camera and update the image
        //         let cameraDivs = document.getElementsByClassName("camera");
        //         for(let i = 0; i < cameraDivs.length; i++){
        //             let camDiv = cameraDivs[i];
        //             let camName = camDiv.getAttribute("value");
        //             let imgElement = camDiv.getElementsByTagName("img")[0];
        //             imgElement.src = "previews/" + camName + ".jpg?t=" + new Date().getTime();
        //         }
        //     }
        // }, 4000);
    </script>
</html>

